@import url('https://fonts.googleapis.com/css?family=Play:700&display=swap');
.logo{
    font-family: 'Play', sans-serif;
    font-size: 60px; color: #000 !important; line-height: 60px; letter-spacing: 0px; 
}
.logo_ser{
    font-family: 'Play', sans-serif;
    font-size: 60px; color: #fff !important; line-height: 60px; letter-spacing: 0px; 
}
body{
   background-color: #fff;
}

.nav-link{
   color: #fff;
}
a:hover{
    color: #a8d8ff;
}



.blinking{
    font-size: 1.3rem;
    animation:blinking 1.2s infinite;
}
@keyframes blinking{
    0%{color:rgba(255, 255, 255, 1);}
    50%{color:rgba(255, 255, 255, 0);}
    100%{color:rgba(255, 255, 255, 1);}
}



