@import url('https://fonts.googleapis.com/css?family=Play:700&display=swap');
.logo{
    font-family: 'Play', sans-serif;
    font-size: 60px; color: #a8d8ff !important; line-height: 60px; letter-spacing: 0px; 
}
.logo_ser{
    font-family: 'Play', sans-serif;
    font-size: 60px; color: #fff !important; line-height: 60px; letter-spacing: 0px; 
}
body{
   background-color: #fff;
}

.nav-link{
   color: #fff;
}
a:hover{
    color: #a8d8ff;
}


@media (max-width:600px)
{
    html{
        font-size: 8px;
    } 
}

@media (max-width:980px)
{
    #lang_d, #lang_dm{
        padding-left: 0 !important;
    } 
}

@media (min-width:1700px)
{
    #lang_d{
        padding-left: 400px !important;
    } 
    #lang_dm{
        margin-left: 280px !important;
    }
}